<form method="POST" action="">
  <div class="form-group">
    <label for="searchInput">Nhap tu khoa</label>
    <input name="q" type="text" class="form-control" id="search-input"  placeholder="Nhap tu khoa">
  </div>
  <div class="form-group">

    <select name="gender" class="form-control" id="search-input">
        <option value="">chon gioi tinh</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Tim kim</button>
</form>